.buildings,
.globe {
  width: 1rem;
}

.github {
  width: 1.06rem;
}

.pr {
  width: 2rem;
}

.location {
  width: 1.625rem;
}

.v0 {
  width: 2.56rem;
}

.vercel {
  width: 6.875rem;
}

.next {
  width: 6.06rem;
}
