.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, auto);
  gap: 1.25rem;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(4, auto);
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(6, auto);
  }

  .h3 {
    font-size: 2rem;
    letter-spacing: -0.04em;
    line-height: 1.25;
  }

  a {
    &:focus-visible {
      outline: none;
      box-shadow: 0 0px 0px 2px var(--gray-1000);
      border-radius: 0.25rem;
    }
  }

  & > section {
    --delay-step: 0.05s;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;

    &:nth-child(1) {
      animation-delay: calc(var(--delay-step) * 1);
    }
    &:nth-child(2) {
      animation-delay: calc(var(--delay-step) * 2);
    }
    &:nth-child(3) {
      animation-delay: calc(var(--delay-step) * 3);
    }
    &:nth-child(4) {
      animation-delay: calc(var(--delay-step) * 4);
    }
    &:nth-child(5) {
      animation-delay: calc(var(--delay-step) * 5);
    }
    &:nth-child(6) {
      animation-delay: calc(var(--delay-step) * 6);
    }
    &:nth-child(7) {
      animation-delay: calc(var(--delay-step) * 7);
    }
    &:nth-child(8) {
      animation-delay: calc(var(--delay-step) * 8);
    }
  }
}

.header {
  grid-column: 1 / span 2;

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;

    strong {
      margin-top: 1rem;
      overflow-wrap: break-word;
    }
  }

  .title {
    font-size: 1.25rem;
    line-height: 1.3;
    letter-spacing: -0.02em;
    font-weight: 500;

    span {
      max-width: 12em;
      display: inline-block;
    }

    strong {
      display: block;
      font-size: 5rem;
      line-height: 1;
      letter-spacing: -0.06em;
      font-weight: 700;
    }
  }
}

.avatar {
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  user-select: none;

  .img {
    width: 8rem;
    height: 8rem;
    position: relative;

    img {
      border-radius: 100%;
      outline: 2px solid var(--gray-alpha-200);
      outline-offset: -2px;
    }
  }

  .emoji {
    font-size: 6rem;
  }
}

.location {
  grid-row: 1 / span 2;
  grid-column: 4 / span 1;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  h3 ~ span {
    @media (min-width: 1025px) {
      &.mobile {
        display: none;
      }
    }

    @media (max-width: 1024px) {
      &.desktop {
        display: none;
      }
    }
  }

  @media (max-width: 1024px) {
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;

    h3 {
      max-width: 13em;
    }

    .details {
      margin-top: 2rem;
    }
  }

  @media (max-width: 700px) {
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
  }

  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
    opacity: 0.5;

    @media (max-width: 1024px) {
      opacity: 0.3;
    }

    svg {
      path {
        fill: var(--teal-500);
      }
    }
  }

  div,
  p {
    z-index: 1;
  }

  p {
    max-width: 22em;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .icon {
    margin-bottom: 1rem;
    display: inline-block;
  }
}

.info {
  aspect-ratio: 1;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;

  div {
    display: flex;
    gap: 0.75rem;
    align-items: flex-start;

    .icon {
      display: flex;
    }

    span {
      min-height: 1.5rem;

      svg {
        vertical-align: middle;
      }
    }
  }
}

.v0 {
  grid-column: 2 / span 2;
  display: block;
  /* min-height: 228.75px; */
  max-height: 100%;
  aspect-ratio: 1/0.484;
  overflow-y: auto;

  @media (max-width: 700px) {
    min-height: 228.75px;
    max-height: 500px;
    aspect-ratio: auto;
    overflow-y: auto;
    grid-column: 1 / span 2;

    h3 {
      margin-bottom: 2rem;
    }
  }
}

.github {
  grid-column: 1 / span 2;
  justify-content: space-between;
  flex-direction: column;

  span {
    display: inline-block;
    max-width: 18em;
  }

  @media (max-width: 700px) {
    & > div {
      margin-bottom: 2rem;
    }
  }

  svg {
    margin-bottom: 1rem;
  }

  time {
    font-weight: 600;
  }

  .h3 {
    max-width: 11em;
  }
}

.vercel {
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  user-select: none;
  aspect-ratio: 1;
}

.powered-by {
  justify-content: space-between;
  flex-direction: column;
  aspect-ratio: 1;

  span {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  svg {
    path {
      fill: var(--gray-1000) !important;
    }
  }

  div:last-child {
    align-self: flex-end;
    text-align: right;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
